<div class="calculator">
  <!-- <div class="calculator__output">0</div> -->
  <form action="" (submit)="calculate()" >
    <input type="text"
    [(ngModel)]="text"
    name="text"
    autocomplete="off"
    oninput="this.value=this.value.replace(/[^0-9+\-*/().&.%]/g, '').replace(/(\..*)\./g, '$1');">
  </form>
  <div class="history" [innerHTML]="history">{{history}}</div>
  <div class="calculator__keys">
    <button class="calculator__key calculator__key--operator" (click)="keyPressed('+')">+</button>
    <button class="calculator__key calculator__key--operator" (click)="keyPressed('-')">-</button>
    <button class="calculator__key calculator__key--operator" (click)="keyPressed('*')">&times;</button>
    <button class="calculator__key calculator__key--operator" (click)="keyPressed('/')">÷</button>
    <button class="calculator__key" (click)="keyPressed('7')">7</button>
    <button class="calculator__key" (click)="keyPressed('8')">8</button>
    <button class="calculator__key" (click)="keyPressed('9')">9</button>
    <button class="calculator__key calculator__key--operator" (click)="keyPressed('%')">%</button>
    <button class="calculator__key" (click)="keyPressed('4')">4</button>
    <button class="calculator__key" (click)="keyPressed('5')">5</button>
    <button class="calculator__key" (click)="keyPressed('6')">6</button>
    <button class="calculator__key calculator__key--operator" (click)='keyPressed("\(")'>(</button>
    <button class="calculator__key" (click)="keyPressed('1')">1</button>
    <button class="calculator__key" (click)="keyPressed('2')">2</button>
    <button class="calculator__key" (click)="keyPressed('3')">3</button>
    <button class="calculator__key calculator__key--operator" (click)='keyPressed("\)")'>)</button>
    <button class="calculator__key" (click)="keyPressed('0')">0</button>
    <button class="calculator__key" (click)="keyPressed('.')">.</button>
    <button class="calculator__key" (click)="clear()">AC</button>
    <button class="calculator__key calculator__key--enter" (click)="calculate()">=</button>
  </div>

  <div class="instruction">
    <p class="head">Instructions</p>
    <p>1. Press 'h' for History</p>
    <p>2. Press 'c' for Clear</p>
  </div>
</div>
